/* about.css */

/* General styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Add left and right margins to the main content area */
  .container {
    margin-left: 40px;  /* Adjust as needed */
    margin-right: 40px; /* Adjust as needed */
  }
  
  .about-content {
    margin-left: 40px;  /* Adjust as needed */
    margin-right: 40px; /* Adjust as needed */
    margin-top: 40px;
  }
  
  .footer {
    margin-top: auto;
  }
    .about-banner{
      margin-left: 95px; /* Adjust the value to move the image to the right */
      margin-top: 50px; /* Adjust the value to move the image down */
    }
  